# CODEOWNERS for sellio-App
# All files in the repo require approval from these owners

* @marah222 @karrar-abbas @mohamedibrahim3 @devsadeq @devsadeq @israamohamed107 @HaidyAbuGom3a @Mohamedragabali @abdo-essam @YaseenOmar @mohamedebrahem13 @mohammed-akkad @Zeinab979 @M-Abdelnabi @Arzo-zi @baraa0abd @abdulazizacc @MohamedOmar989 @MuhammedWael9991 @Ahmedsayed0895